<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<script>
    var address = 'https://capitalservice-dot-data-managers-search.appspot.com/';
</script>
<head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js" type="text/javascript"></script>
    

    <title>Countries and Capitals</title>

    
</head>
<body>
    <h1 class="h1center">Countries and Capitals</h1>

/body>
</html>